[package]
name = "duo"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
arrow-array = "39"
arrow-schema = "39"
axum = "0.6"
rand = "0.8"
clap = { version = "3", default-features = false, features = ["std", "derive"] }
duo-api = { version = "0.1", path = "../duo-api" }
parking_lot = { version = "0.12", features = ["send_guard"] }
parquet = { version = "39.0.0", features = ["async"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
time = "0.3"
tokio = { version = "1", features = ["rt-multi-thread"] }
tonic = "0.9"
tower = "0.4"
tower-http = { version = "0.4", features = ["fs"] }
tracing = "0.1"
tracing-subscriber = "0.3"
datafusion = "25.0.0"
